body{
text-align:center
}
body {
    background-color:LightGray
}

body {
    background-image:url("gudds.jpg")
}

h1{
  color:black
}

h2{
	color:light black
}
br{
	color:white
p{
	color:white
}
	
